
/* Basic Styling */

:root {
  --styling-dark: black;
  --styling-light: white;
  --primary-color: #357b70;
  --link-visited: #05676e;
  --secondary-color: #d6bd2d;
  --dark-grey: #2b2b2b;
  --header-color: #303030;
  --tertiary-color: lightgrey;
  --header-hover-color: #aa197a;
  --header-active-color: #cb2ada;
  --font-color: #414141;
  --font-weight-heavy: 700;
  --font-weight-regular: 400;
  --primary-font: 'Aleo Cardo', sans-serif;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 22px;
  --font-size-regular: 16px;

  scrollbar-color: rgb(70, 69, 70) var(--tertiary-color) !important;
  scrollbar-width: auto !important;
}

body {
  margin: auto;
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  line-height: 1.6;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 100;
  position: relative;
  padding-bottom: 100px;
  color: var(--font-color);
  word-break: keep-all;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-heavy);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-heavy);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-heavy);
}

/* Styling for anchor elements */

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--link-visited);
}

a:hover a:focus {
  text-decoration: none;
}

a:active {
  color: var(--link-visited);
}

/* Button Styling */

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: var(--font-size-regular);
  background-color: var(--primary-color);
  color: var(--styling-light);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px, solid var(--styling-dark);
  transition: 0.2s opacity;
}

button:hover button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* Secondary-Button Styling */

.button_secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

/* Profile */

.profile {
  min-width: 360px;
  max-width: 1200px;
  padding-top: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__portrait {
  float: left;
  width: 300px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile__text {
  flex: 1 1 100px;
}

@media all and (max-width: 700px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
  }

  .profile__portrait {
    width: 250px;
    margin: 0 auto;
  }
}

/* Header */

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  width: 100%;
  background-color: var(--header-color);
  line-height: 0.1;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.logo {
  min-height: 10px;
  max-height: fit-content;
  min-width: 36px;
  max-width: fit-content;
  transition-property: opacity;
}

@media all and (max-width: 700px) {
  .logo {
    width: 150px;
    height: 26px;
  }
}

.logo:hover {
  opacity: 0.8;
}

/* Navigation list */

div.container-nav {
  font-family: auto;
  margin: 0 auto;
  text-align: right;
}

div.container-nav a {
  color: var(--styling-dark);
  text-decoration: none;
  font: 20px auto;
  margin: 0 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

@media all and (max-width: 700px) {
  div.container-nav a {
    font-size: 15px !important;
  }
}

div.pullrightleft a::before div.pullrightleft a::after {
  position: absolute;
  max-width: 100%;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: var(--styling-light);
  transition: all 0.2s;
}

div.pullrightleft a::before {
  left: 0;
  top: 0;
}

div.pullrightleft a::after {
  right: 0;
  bottom: 0;
}

div.pullrightleft a:hover::before div.pullrightleft a:hover::after {
  opacity: 1;
  width: 100%;
}

div.pullrightleft a {
  color: var(--tertiary-color);
}

div.pullrightleft a:hover {
  color: var(--header-hover-color);
}

div.pullrightleft a:active {
  color: var(--header-active-color);
}

#navigation-active {
  text-decoration: underline;
}

@media all and (max-width: 820px) {
  .container-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Grid for About page */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  border: solid grey 1px;
}

.grid__item h2 {
  text-align: center;
}

.grid__item a {
  color: var(--primary-color);
  align-self: center;
}

/* For IE only */

.grid__item {
  -ms-grid-column: 1;
}

.grid__item:nth-child(2) {
  -ms-grid-column: 5;
  -ms-grid-row: 3;
}

.grid__item:nth-child(3) {
  -ms-grid-column: 5;
}

.grid__item:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}

.grid__item:nth-child(5) {
  -ms-grid-row: 3;
}

/* IE grid styling over */

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 16px;
  }

  p td {
    font-size: 12px;
  }

  h2 {
    font-size: 15px;
  }
}

/* Grid Fallback */

.project-list__item {
  display: inline-block;
  width: 33%;
}

/* About */

.about {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.cv-download-button-description {
  font-size: 14px;
}

.about-programming .about-language {
  position: relative;
  margin-top: 10px;
}

table {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  background-color: var(--styling-light);
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  background-color: var(--styling-light);
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  background-color: var(--styling-light);
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Contact Form */

.contact-form {
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

input textarea {
  display: inline-block;
  width: 250px;
  padding: 5px;
  margin: 2px 0;
}

/* Page Footer */

.page-footer .footer-attribution {
  clear: both;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--tertiary-color);
  line-height: 0.1;
  padding-bottom: 20px;
}

.footer-attribution {
  text-align: left;
  color: var(--styling-dark);
  font-size: 9px;
  text-decoration: none;
  padding-bottom: 7px;
}

@media all and (max-width: 650px) {
  .footer-attribution {
    font-size: 6px;
  }
}

.footer-img {
  height: 30px;
  width: 30px;
  transition: all 0.1s ease-in-out;
}

.footer-img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.footer-findme {
  margin-left: 100px;
}

/* Language select Navigation */

nav {
  font-family: var(--primary-font);
}

.navigation-drop a {
  text-decoration: none;
}

ul {
  background: var(--dark-grey);
  bottom: 100%;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: white;
  background: var(--dark-grey);
  display: block;
  float: right;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.2s;
}

li a:not(.special) {
  color: white;
}

li:hover,
li:focus-within {
  background: var(--header-hover-color);
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: var(--dark-grey);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 10px;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.dropdown {
  text-align: left;
}
