/*
colors used (not real colors, just an example in terms of styling)

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
*/


/*ALT Background
background: rgb(174,206,241);
background: radial-gradient(circle, rgba(174,206,241,1) 0%, rgba(217,177,238,1) 100%);
*/

/*Basic Styling*/

:root {
  --styling-dark: black;
  --styling-light: white;
  --primary-color: #357b70;
  --link-visited: #05676e;
  --secondary-color: #d6bd2d;
  --dark-grey: #2b2b2b;
  --header-color: #303030;
  --tertiary-color: lightgrey;
  --header-hover-color: #aa197a;
  --header-active-color: #cb2ada;
  --font-weight-heavy: 700;
  --font-weight-regular: 400;
  --primary-font: 'Aleo Cardo', sans-serif;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 22px;
  --font-size-regular: 16px;
}

:root{
  scrollbar-color: rgb(70, 69, 70) var(--tertiary-color)  !important;
  scrollbar-width: auto !important;
}

body {
  margin: auto;
  min-height: 400px;
  margin-bottom: 100px;
  background-image:url(../img/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-regular);
  line-height: 1.6;
  text-align: center;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-heavy);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-heavy);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-heavy);
}




/*Styling for anchor elements*/

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--link-visited);
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: var(--primary-color);
}


/*Button Styling*/

button, .button1 {
  border: none;
  display:inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--styling-light);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px, solid var(--text-color-primary);
  transition: 0.2s opacity;
}


button:hover, button:focus, .button1:hover, .button1:focus {
  cursor: pointer;
  opacity: 0.8;
}


/*Secondary-Button Styling*/

.button_secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}



/*Profile*/

.profile {
  display: center;
  width: 30%;
  min-width: 360px;
  max-width: 1200px;
  padding-top: 100px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
  text-align: center;
}

.profile__text {
  flex: 1 1 100px;
}

/*Header*/

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  width: 100%;
  background-color: var(--header-color);
  line-height: 0.1;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;

}

.logo {
  min-height: 10px;
  max-height: fit-content;
  min-width: 36px;
  max-width: fit-content;
  transition-property: opacity;
}

.logo:hover {
  opacity: .8;
}


/*Navigation list*/

div.container-nav {
  font-family: auto;
  margin: 0 auto;
	text-align: right;
}

div.container-nav a {
  color: var(--styling-dark);
  text-decoration: none;
  font: 20px auto;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}


div.pullrightleft a:before, div.pullrightleft a:after {
  position: absolute;
  max-width: 100%;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: '';
  background: var(--styling-light);
  transition: all 0.2s;
}
div.pullrightleft a:before {
  left: 0px;
  top: 0px;
}

div.pullrightleft a:after {
  right: 0px;
  bottom: 0px;
}
div.pullrightleft a:hover:before, div.pullrightleft a:hover:after {
  opacity: 1;
  width: 100%;
}

div.pullrightleft a {
  color: var(--tertiary-color);
}

div.pullrightleft a:hover {
  color: var(--header-hover-color);
}

div.pullrightleft a:active {
  color: var(--header-active-color);
}

#navigation-active {
  text-decoration: underline;
}


/*Page Footer*/

.page-footer, .footer-attribution {
  clear: both;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: var(--tertiary-color);
  line-height: 0.1;
  padding-bottom: 15px;
}

.footer-attribution {
  text-align: left;
  color: var(--styling-dark);
  font-size: 9px;
  text-decoration: none;
  padding-bottom: 7px;
}

.footer-img {
  height: 30px;
  width: 30px;
  transition-property: width-height;
}

.footer-img:hover {
  width: 33px;
  height: 33px;
  opacity: .8;
}


/*Grid Fallback*/

.project-list__item {
  display: inline-block;
  width: 33%;
}

/*Grid*/

@supports (display:grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: var(--tertiary-color);
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

@media all and (max-width:500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width:500px) and (max-width:750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width:750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@keyframes backInUp {

}

/*Contact Form*/
.contact-main {
  text-align: center;
}

.contact-form {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

/*About*/

.berlin-illustration, .about {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.about-list {
  list-style-type: none;
}

.about-list li {
  margin-left: -30px;
  text-align: center;
}

.cv-download-button-description {
  font-size: 14px;
}

.about-language {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}


.about-programming {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}





/*Picture Animations*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px)
  }
}

.cloud-front {
  animation: 20s cloud-move infinite alternate linear;
}


@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}





.snowflake {
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}


@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px);transform:translateX(0px)}50%{transform:translateX(80px);transform:translateX(80px)}100%{transform:translateX(0px);transform:translateX(0px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
.snowflake{position:fixed;top:-10%;z-index:9999;user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}
.snowflake:nth-of-type(0){left:1%;animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;animation-delay:3s,1.5s;animation-delay:3s,1.5s}




